{% extends "layout.html" %}


{% block main %}
    <div class="mb-3">
        <h1>Finance Calculators</h1>
        <a href="/firstSteps" style="color: var(--two)">Are you unfamiliar with finance? Consider exploring these subjects: the time value of money, compound interest, debt management, and financial planning.</a>
    </div>
    <div class="cards">
        <div class="card" onclick="location.href='/finance/loan'">Loan
            <h5 class="info">Spiegazione molto lunga di quello che va a fare il calcolatore</h5>
        </div>
    </div>
{% endblock %}
