{% extends "layout.html" %}

{% block title %}
    Eduardo's site
{% endblock %}

{% block main %}
    <div class="container"">
        <div class="row mx-5">
            <div class="col mx-5">
                <div style="height: 30%;"></div>
                <div class="row">
                    <h1>Hi! I'm Eduardo Nardone</h1>
                    <h2>Software Engineer</h2>
                </div>
                <div class="row mt-5">
                    <p>Currently working as a VMware PSO, in cloud automation</p>
                </div>
                <div class="row mt-5">
                    <p>These are some of my projects, some of them are work in progress:
                        <ul>
                            <li><a href="www.lookfor.events">LookFor</a></li>
                            <li><a href="https://github.com/eduardonard/pythonFromZeroToHero">Python: from zero to Hero</a></li>
                            <li><a href="https://github.com/eduardonard/VectorialFileAutoChecker">Vectorial file checker</a></li>
                        </ul>
                    </p>
                </div>
                <div class="row mt-5">
                    My skills:
                    <ul>
                        <li>Python, high in Flask framework</li>
                        <li>Good knowledge of data structures and algorithms</li>
                        <li>Studying Javascript</li>
                        <li>Good in Relational Databases (SQLite)</li>
                        <li>Some front end too (CSS and Bootstrap)</li>
                        <li>CLI basic knowledge</li>
                    </ul>
                </div>
                
                <div class="row mt-5">
                    <p>I graduated in December 2022, in mechanical engineering</p>
                </div>
                <div class="row mt-5">
                    <p>Right now i'm working as a VMware PSO</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}