a:hover{
    text-decoration: none !important;
    color: inherit;
}

.myStyle{
    padding: 1%;
    color: var(--three);
    background-color: var(--one);
    border-style: solid;
    border-width: 3px;
    border-color: var(--three);
    border-radius: 12px;
    width: 200px;
}


.buttonLink {
    background-color: var(--two); 
    height: 3em;
    border-radius: 12px; 
    color: var(--one); 
    text-decoration: none
}

.mainBody{
    background-color: var(--one); 
    background-size: cover;
    color: var(--three); 
    text-decoration: none;
}